@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap');
* {
  font-family: 'Noto Sans TC', sans-serif;
}

#carousel {
  height: 41rem;
  background-image: url('../src/assets/images/ales-nesetril-Im7lZjxeLhg-unsplash.jpg');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 3px 3px 3px #06caca;
  color: #e5e5e5;
}
#carouselT {
  font-size: 5rem;
  text-shadow: 5px 5px 5px rgba(100, 100, 100, 0.5);
}
#carouselST {
  font-size: 2rem;
  color: white;

  text-shadow: 5px 5px 5px rgba(100, 100, 100, 0.5);
}
#homecarouselbutton {
  background-color: #06caca;
  font-weight: bold;
  height: auto;
  color: #14213d;
  border: #06caca;
}
#homebutton {
  background-color: #06caca;
  font-weight: bold;
  height: auto;
  color: #14213d;
  border: #06caca;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #02050a;
  margin: 0;
  padding: 0;
}
/* navbar */
#navBar {
  height: 3rem;
  display: flex;
  background-color: white;
  padding-top: 10px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.navbarlogo {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  background-color: #e5e5e5;
  height: 3rem;
}

#navtext {
  color: #14213d;
  font-weight: bold;
  margin-right: 30px;
}

#search {
  margin-left: 2rem;
  margin-right: 2rem;
  color: white;
}

#large-card {
  width: 100%;
  height: 20%;
  border: none;
  box-shadow: 3px 3px 3px #06caca;
}

#searchimage {
  height: 45rem;
}

#searchmaintext {
  font-size: 4rem;
  text-shadow: 5px 5px 5px black;
  color: white;
  margin-top: 4rem;
}

#searchmaintext2 {
  font-size: 3.5rem;
  text-shadow: 5px 5px 5px black;
  color: white;
  margin-top: 1rem;
}

#searchmaintext3 {
  font-size: 2rem;
  text-shadow: 5px 5px 5px black;
  color: white;
  margin-top: 1rem;
}

#cards {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 6rem;
}

#cardsshadow {
  box-shadow: 4px 4px 4px #06caca;
  background-color: #e5e5e5;
  color: #14213d;
  height: 14rem;
}
/* 
#jobsearchbuttons {
  background-color: #06caca;
  font-weight: bold;
  height: auto;
  color: #14213d;
  border: #06caca;
} */

#search-bar {
  width: 40%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
/* home page css */
#home {
  margin-left: 5rem;
  color: white;
}

#homepgcards {
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-around;
}

#homepagecards {
  box-shadow: 5px 5px 5px #06caca;
}

#homeJumbo {
}

.homejumbo {
  display: flex;
  background-size: cover;
  position: relative;
  color: #14213d;
  text-shadow: 5px 5px 5px gray;
}

a:link {
  text-decoration: none;
}

.homejumbotext {
  position: relative;
  font-size: 1rem;
  line-height: 0.9;
  text-align: left;
}

#homecardtext {
  display: flex;
  text-align: left;
  justify-content: space-evenly;
}

.hometitletext {
  margin-top: 3rem;
  font-size: 3.5rem;
  color: #e5e5e5;
  text-shadow: 7px 7px 7px black;
  margin-left: 3rem;
  margin-right: 3rem;
}
/* Resource page jumbo */
.jumbo {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 4rem;
  background-image: url(https://unsplash.com/photos/8OyKWQgBsKQ);
  background-size: cover;
  -webkit-background-size: 100% 100%;
  color: white;
  position: relative;
}

.jumbo::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(76, 94, 100, 0.25);
}

#search-left {
  width: 30%;
  height: 25rem;
  overflow: auto;
  margin-bottom: 5rem;
}

#searchResultsCards {
  width: 100%;
}

#search-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
#searchJumbo {
  color: #14213d;
  text-shadow: rgba(0, 0, 0, 0.3);
}
#search-right {
  width: 50%;
  height: 25rem;
  overflow: auto;
}

#search-page-card-title {
  margin-bottom: 4rem;
  font-size: 3.5rem;
  color: #e5e5e5;
  text-shadow: 7px 7px 7px black;
  border-top: 3px solid white;
  margin-left: 3rem;
  margin-right: 3rem;
}

.footer {
  background-color: #000000;
  display: flex;
  justify-content: center;
}

#footertext {
  color: #e5e5e5;
  font-weight: bold;
}

#resourcecardshadow {
  box-shadow: 5px 5px 5px #06caca;
}

#video {
  object-fit: fill;
  z-index: -500000;
}

#searchJumbo {
  height: 25rem;
  background-color: white;
  color: #14213d;
}
/* button hover style */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

#button {
  position: relative;
  display: inline-block;
  color: #03e9f4;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  letter-spacing: 1px;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

#button:hover {
  background: #03e9f4;
  color: #050801;
  box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4,
    0 0 200px #03e9f4;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

#button span {
  position: absolute;
  display: block;
}
